table, td {
    border: solid 2px;
    border-color: black;
    text-align: center;
}

td {
    padding: 1rem;
}

table, img {
    margin: auto;
    margin-top: 10px;
}

img {
    display: block;
}